# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science.
* List commonly used libraries in Data Science.
* List Data Science Tools
* Learn the to use jupyter notebook
* Do some basic artihmetics in python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. C

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scikit-learn
4. Matplotlib
5. Seaborn

|Data Science Tools|
|--|
|MySQL|
|Hadoop File System|
|Jupyter Notebook|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#  This will convert 200 minutes to hours by diving by 60
minutes= 200
hour = minutes/60
hour

3.3333333333333335

## Author
Prakhar Aditya